body {
  font-family: IBMPlexSans-Medium, PingFangSC-Regular, Avenir, Helvetica, Arial,
    sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 96px;
  width: 100%;
  margin: 0 auto;
  background: #080706;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
}

.header__logo img {
  width: 132px;
  height: 48px;
}

.header-box {
  max-width: 1200px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-icon {
  display: none;
  color: #b2856c;
  font-weight: 700;
  font-family: Alegreya-Bold;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
}

.btn-icon img {
  margin-left: 6px;
}

.close-menu {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 6;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  margin-left: 24px;
  flex-wrap: wrap;
  position: relative;
  transition: 0.3s all;
}

.bg_activeM {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

.bg_activeMA {
  display: block;
}

.menu__element {
  padding: 0 16px;
  font-size: 20px;
  height: 52px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.menu__element a:hover {
  color: #e0b186;
  background: radial-gradient(
    45.06% 64.83% at 50% 50%,
    rgba(135, 98, 25, 0.21) 0,
    rgba(125, 94, 32, 0) 100%
  );
  text-shadow: 0 3px 4px rgb(10 7 2 / 97%);
}

.menu__element:not(:first-child) {
  margin-left: 12px;
}

.menu__element a {
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  line-height: 52px;
  color: hsla(0, 0%, 100%, 0.8);
  text-decoration: none;
}

.menu__element .dropdown__button::after {
  display: none;
}

.menu__element .dropdown__button::before {
  border: 5px solid transparent;
  margin: 0;
  border-left: 7px solid #a07a67;
  height: 0;
  background-color: #fff0;
  top: 47%;
  transform: rotateZ(91deg);
}

.menu__element .dropdown__button_active {
  color: #e0b186;
  background: radial-gradient(
    45.06% 64.83% at 50% 50%,
    rgba(135, 98, 25, 0.21) 0,
    rgba(125, 94, 32, 0) 100%
  );
  text-shadow: 0 3px 4px rgb(10 7 2 / 97%);
}

.menu__element .dropdown__list {
  background: #564135;
  box-shadow: none;
  position: absolute;
  border-radius: 0px;
  z-index: 7;
  overflow: visible;
  width: auto;
}

.menu__element .dropdown__list-item,
.menu__element .dropdown-item {
  color: #b2856c;
  width: 170px;
}

.menu__element .dropdown__list-item:hover,
.menu__element .dropdown-item:hover {
  background: #564135;
}

.is_active {
  background: url(./../img/bg/bg_menuItems.png) no-repeat center 0 !important;
  background-size: auto 100%;
}

.is_active a,
.is_active .dropdown .dropdown__button {
  color: #e0b186;
}

.button {
  background: linear-gradient(90.7deg, #f6465d 0.15%, #f15f40 101.76%);
  border-radius: 8px;
  color: #fff;
  width: auto;
  padding: 3px 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  font-family: Alegreya-Medium;
  border: none;
}

.header .button {
  margin-right: 20px;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  font-weight: 900;
  font-family: Alegreya-ExtraBold;
  height: 28px;
  width: 95px;
  font-size: 20px;
  line-height: 28px;
  outline: 0;
  background: #aaaaaa00;
  border: none;
  color: #fff;
  cursor: pointer;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 8px;
  width: 1px;
  height: 7px;
  background-color: #fff;
  transform: rotateZ(45deg);
  pointer-events: none;
}

.dropdown__button::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 13px;
  width: 1px;
  height: 7px;
  background-color: #fff;
  transform: rotateZ(-45deg);
  pointer-events: none;
}

.dropdown__list {
  display: none;
  background: #fff;
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
  position: absolute;
  left: 0;
  border-radius: 4px;
  list-style-type: none;
  top: 38px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item,
.dropdown-item {
  margin: 0;
  border: none;
  border-bottom: 0px;
  cursor: pointer;
  color: #5f6368;
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  line-height: 44px;
  padding: 0 16px;
  font-size: 15px;
}

.dropdown__list-item:first-child {
  border-radius: 4px 4px 0 0;
}

.dropdown__list-item:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: none;
}

.dropdown__list-item:hover {
  background: #efefef;
}

.dropdown__input-hidden {
  display: none;
}

/**** main ****/

.main {
  overflow: hidden;
  background-color: #000;
  background: #080706 url(./../img/bg/main_bg.png) repeat-y 0 0;
  background-size: 100% auto;
}

.banner {
  background: url(./../img/bg/bg_banner.png) no-repeat center 0;
  background-size: auto 100%;
  min-height: 851px;
  margin-top: 96px;
}

.banner__content {
  padding: 12.2% 0 0 8.4%;
}

.banner__subtitle {
  font-family: MalayalamMN-Bold;
  font-size: 49px;
  line-height: 70px;
  color: #fff;
  margin-top: -2px;
}

.bunner__text {
  font-family: MalayalamMN-Bold;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-top: 6px;
}

.scene {
  padding: 92px 0 132px 0;
}

.blockTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.blockTitle__text {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  color: #b2856c;
}

.blockTitle__line {
  width: 38%;
  height: 2px;
  background: #715a41;
}

.content_box {
  max-width: 942px;
  margin: 0 auto;
}

.video {
  margin: 52px auto;
  background: url(./../img/bg/index_bg1.png) no-repeat 50%;
  background-size: 100% 100%;
  padding: 74px 50px;
}

.video__img {
  position: relative;
}

.video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__play {
  position: absolute;
  right: -18px;
  bottom: -20px;
  cursor: pointer;
}

.scene__imeges {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scene__img {
  padding: 47px 23px;
  background: url(./../img/bg/index_bg2.png) no-repeat 50%;
  background-size: 100% 100%;
}

.scene__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.scene__text {
  max-width: 922px;
  margin: 82px auto 0;
  line-height: 24px;
  color: #998774;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: Alegreya-Bold;
}

.scene__text div:not(:first-child) {
  margin-top: 11px;
}

.hero {
  padding: 50px 0 50px 0;
}

.hero.swiper {
  max-width: 942px;
  margin-top: 88px;
  min-height: 643px;
  overflow-y: auto;
}

.hero.swiper-slide {
  min-height: 598px;
  width: 450px;
  background: url(./../img/bg/index_bg2.png) no-repeat 50%;
  background-size: 100% 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: scale(0.88);
}

.hero.swiper-slide-next,
.hero.swiper-slide-duplicate-next {
  transition: 0.3s all;
  transform: translateX(-50%);
  opacity: 0.5;
}

.hero.swiper-slide-prev,
.hero.swiper-slide-duplicate-prev {
  transition: 0.3s all;
  transform: translateX(50%);
  opacity: 0.5;
}

.hero.swiper-slide img {
  max-width: 85%;
  max-height: 85%;
}

.hero.swiper-slide-active {
  opacity: 1;
  transform: scale(1.1);
  /* width: 450px; */
  z-index: 1;
}

.hero.swiper-button-prev {
  width: 40px;
  height: 40px;
}

.hero.swiper-button-next {
  width: 40px;
  height: 40px;
}

.hero.swiper-button-next::after {
  display: none;
}

.hero.swiper-button-prev::after {
  display: none;
}

.toPlay__wrapper {
  max-width: 942px;
  margin: 88px auto 132px;
}

.toPlay-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.toPlay-box:not(:first-child) {
  margin-top: 88px;
}

.toPlay-box__text {
  font-size: 14px;
  line-height: 20px;
  color: #998774;
  max-width: 451px;
}

.toPlay-box__title {
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 16px;
}

.toPlay-box__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 17px;
  background: url(./../img/bg/bg_howToPlay.png) no-repeat 0 0;
  background-size: 100% 100%;
  max-width: 484px;
  width: 100%;
}

.toPlay-box__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BNX {
  background: url(./../img/bg/bgTop.png) repeat-x 0;
  background-position: top;
  padding-bottom: 49px;
}

.BNX .blockTitle__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 39px 0 37px;
}

.BNX .blockTitle__text::before {
  display: block;
  content: "";
  height: 32px;
  width: 32px;
  margin-right: 4px;
  background: url(./../img/BNX/list_img.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.BNX__button {
  background: url(./../img/bg/bg_button.png) no-repeat 0;
  background-size: 100% 100%;
  width: 314px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  transition: all 0.3s;
}

.BNX__button:hover {
  transform: translateY(-21px);
}

.BNX__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 64px 0 24px 0;
  background: #000 url(./../img/bg/bg_footer.png) no-repeat center 0;
  background-size: cover;
  color: #baa694;
}

.footer__top {
  display: flex;
  justify-content: space-around;
}

.footer__media {
  display: flex;
  justify-content: space-between;
  width: 436px;
}

.footer__btns .button {
  display: block;
  min-width: 110px;
  font-size: 16px;
}

.footer__btns .button:not(:first-child) {
  margin-top: 16px;
}

.footer__title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.socialNet__i:not(:first-child) {
  margin-top: 16px;
}

.socialNet__i a {
  display: flex;
  align-items: center;
  color: #baa694;
  text-decoration: none;
}

.socialNet__i a img {
  display: block;
  margin-right: 8px;
  fill: #baa694;
}

.socialNet__i a span {
  display: block;
}

.footer__bottom {
  padding: 24px 0 0;
  border-top: 1px solid rgba(255, 247, 239, 0.1);
  margin-top: 16px;
}

.footer__bottom span:not(:first-child) {
  margin-left: 24px;
}

/* dao */

.dao {
  margin: 124px 0 100px 0;
}

.dao_info-item {
  position: relative;
  width: 268px;
  height: 158px;
  padding: 20px;
  border: 1px solid #3f3832;
}

.dao_info-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.dao_info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dao_info-item .sidebg-tl {
  position: absolute;
  top: -19px;
  left: -18px;
  width: 88px;
}

.dao_info-item .sidebg-tr {
  position: absolute;
  left: auto;
  top: -18px;
  right: -19px;
  transform: rotate(90deg);
}

.dao_info-item .sidebg-bl {
  position: absolute;
  top: auto;
  bottom: -18px;
  left: -19px;
  transform: rotate(-90deg);
}

.dao_info-item .sidebg-br {
  position: absolute;
  left: auto;
  top: auto;
  bottom: -19px;
  right: -18px;
  transform: rotate(-180deg);
}

.dao_info-item .sidebg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}

.dao_info-item-text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b2856c;
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-family: Alegreya-Bold;
}

.dao-arrow img {
  max-width: 72px;
}

.dao_status {
  margin-top: 74px;
}

.dao_proposal {
  display: flex;
  justify-content: space-between;
  width: 130px;
  align-items: center;
  font-size: 18px;
  color: #b2856c;
  cursor: pointer;
}

.dao_status-titles {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 320px;
}

.dao_status-line {
  margin-top: 20px;
  height: 13px;
  background: url("/img/dao/dao-line.png") no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

.dao_status-option {
  color: #b2856c;
  background: transparent;
  margin-right: 20px;
  text-align: center;
  font-family: IBMPlexSans-Regular;
  cursor: pointer;
}

.activeOption {
  background: #372820;
  border-radius: 4px;
  color: #b2856c;
  min-width: 97px;
  padding: 0 10px;
  height: 28px;
  cursor: pointer;
}

/*** titile ***/

.title {
  min-height: 80vh;
  margin-top: 96px;
  padding: 80px 0 80px 0;
}

.title__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title__class {
  min-width: 320px;
  margin: 0 80px;
  font-size: 40px;
  line-height: 57px;
  font-family: MalayalamMN-Bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 5px 4px #111;
}

.title__line {
  width: 0px;
  border: 0.1px solid transparent;
  margin: 0;
}

.right_line {
  border-left: 175px solid #fff;
}

.left_line {
  border-right: 175px solid #fff;
}

/*** ***/

.whitePaper {
  padding: 124px 0 126px;
}

.back {
  display: flex;
  cursor: pointer;
}

.back:hover .back__img {
  background: url(./../img/whitePaper/backToIsActive.png) no-repeat 0;
  background-size: 24px 24px;
}

.back__img {
  width: 28px;
  height: 28px;
  background: url(./../img/whitePaper/backTo.png) no-repeat 0;
  background-size: 24px 24px;
}

.back__text {
  line-height: 28px;
  font-size: 20px;
  color: #b2856c;
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  margin-left: 8px;
}

.whitePaper__content {
  font-family: NotoSerif-Regular;
  line-height: 20px;
  font-size: 14px;
  color: #b2856c;
  max-width: 1200px;
  width: 100%;
  margin: 58px 0 0;
  border: 1px solid #998774;
  position: relative;
  padding: 32px 40px 50px;
  background: url(./../img/bg/bg_whitePaper.png);
}

.whitePaper__content::before {
  content: "";
  position: absolute;
  width: 446px;
  height: 446px;
  background: url(./../img/bg/bg_frame.png) no-repeat 0;
  background-size: auto;
  background-size: 100% 100%;
  bottom: -44px;
  right: 0;
}

.corner {
  position: absolute;
}

.topRight {
  top: -19px;
  right: -19px;
  transform: rotateZ(90deg);
}

.topLeft {
  top: -19px;
  left: -19px;
}

.BottomRight {
  bottom: -19px;
  right: -19px;
  transform: rotateZ(180deg);
}

.BottomLeft {
  bottom: -19px;
  left: -19px;
  transform: rotateZ(-90deg);
}

.whitePaper__header {
  font-size: 20px;
  line-height: 28px;
  font-family: NotoSerif-Bold;
  font-weight: 700;
  text-align: center;
}

.whitePaper__subtitle {
  margin-top: 4px;
}

.paper-plane {
  list-style-type: decimal;
  font-size: 18px;
  margin: 10px 0;
  font-family: NotoSerif-Regular;
}

.paper-plane__item:not(:first-child) {
  margin-top: 10px;
}

.subpaper-plane {
  margin-left: 1em;
  margin-top: 10px;
}

.whitePaper-box__title {
  font-size: 18px;
  margin: 30px 0;
  font-family: NotoSerif-Regular;
}

.whitePaper-box__text {
  font-family: NotoSerif-Regular;
  line-height: 20px;
  font-size: 14px;
  color: #b2856c;
  text-indent: 1em;
}

.whitePaper-box__list {
  list-style-type: decimal;
  font-family: NotoSerif-Regular;
  line-height: 20px;
  font-size: 14px;
  color: #b2856c;
  text-indent: 0;
  padding-left: 2.1em;
}

.whitePaper__end {
  font-size: 18px;
  margin: 30px 0;
  font-family: NotoSerif-Regular;
}

.tabs {
  max-width: 100%;
  padding: 182px 0 13px;
  min-height: 40vh;
}

.tabs__header {
  background: transparent;
  margin-bottom: 0;
  position: relative;
  height: 80px;
}

.tabs__header::before {
  content: "";
  width: 800px;
  max-width: 88.5%;
  height: 66px;
  position: absolute;
  bottom: 66px;
  left: 0;
  right: 0;
  margin: auto;
  background: url(./../img/bg/bg_tabsBtn.png) no-repeat bottom;
  background-size: 100% auto;
  z-index: 2;
}

.tabs__header::after {
  content: "";
  width: 600px;
  max-width: 72%;
  height: 26px;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: auto;
  background: url(./../img/bg/bg_bottom_tabsBtn.png) no-repeat 50%;
  background-size: 100% auto;
  z-index: 2;
}

.tabs__nav {
  justify-content: center;
  display: flex;
  background: radial-gradient(
    43.47% 7718.51% at 50% 100%,
    #2c1a1a 0,
    rgba(41, 27, 27, 0.61) 86.48%,
    rgba(24, 18, 18, 0) 100%
  );
  height: 62px;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}

/* .tabs__scroll {
  
} */

/* .tabs__elements-scroll {
  white-space: nowrap;
  position: relative;
  transition: 0.3s all;
  float: left;
  z-index: 1;
  display: flex;
  align-items: center;
} */

.tabs__nav-item {
  outline: none;
  margin: 11px 0;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  padding: 0 12px;
  font-size: 18px;
  color: #b2856c;
  font-weight: 700;
  font-family: Alegreya-Bold;
  cursor: pointer;
  transition: 0.3s all;
  text-align: center;
  width: auto !important;
}

.tabs__nav-item-active {
  background: url(./../img/bg/bg_gameBtn.png) no-repeat 50%;
  background-size: 100% 100%;
  text-shadow: 0 3px 4px rgb(10 7 2 / 97%);
}

.tabs__nav-item:hover {
  transform: translateY(-3px);
}

.tabs_nav {
  display: none;
  top: 30%;
  width: 16px;
  height: 16px;
  z-index: 3;
}

.tabs_nav__next {
  position: absolute;
  right: -21px;
}

.tabs_nav__next img {
  transform: rotateZ(180deg);
}

.tabs_nav__prev {
  position: absolute;
  left: -21px;
}

.tab_dropdown {
  background: rgba(0, 0, 0, 0);
}

.tab_dropdown .dropdown__button {
  outline: none;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  font-size: 18px;
  color: #b2856c;
  font-weight: 700;
  font-family: Alegreya-Bold;
  cursor: pointer;
  transition: 0.3s all;
  min-width: 130px;
}

.tab_dropdown .dropdown__button::before {
  border: 5px solid transparent;
  margin: 0;
  border-left: 7px solid #a07a67;
  height: 0;
  background-color: #fff0;
  top: 47%;
  transform: rotateZ(91deg);
}
.tab_dropdown .dropdown__button::after {
  display: none;
}

.tab {
  display: none;
}

.tab-active {
  display: block;
}

.tab__content {
  margin: 80px auto 288px;
  position: relative;
  min-height: 500px;
  max-width: 1200px;
}

.recruitHero {
  width: 890px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
}

.recruitHero_bg {
  height: 500px;
  position: absolute;
  top: 0;
}

.recruitHero .recruitHero_bg:nth-child(1) {
  left: 0;
}

.recruitHero .recruitHero_bg:nth-child(2) {
  right: 0;
  transform: scale(-1, 1);
}

.recruitHero__content {
  width: 280px;
  height: 280px;
  background: url(./../img/bg/border__ava.png) no-repeat 50%;
  background-size: 100% 100%;
  line-height: 28px;
  color: #d68c3f;
  font-weight: 800;
  font-size: 20px;
  position: relative;
}

.recruitHero__ava {
  width: 152px;
  height: 152px;
  margin: 0 auto;
  margin: 42px auto 18px;
}

.recruitHero__name {
  text-align: center;
}

.recruitHero__title {
  position: absolute;
  width: 360px;
  height: 44px;
  line-height: 44px;
  background: url(./../img/bg/border__avaTitle.png) no-repeat 50%;
  background-size: 100% 100%;
  color: #baa694;
  font-size: 18px;
  margin: auto;
  z-index: 1;
  top: -20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-family: Alegreya-Bold;
}

.recruitHero__btn {
  font-weight: 700;
  font-family: Alegreya-Bold;
  background: url(./../img/bg/bg__buttonRed.png) no-repeat 50%;
  background-size: 100% 100%;
  color: #b2856c;
  font-size: 16px;
  position: absolute;
  width: 192px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  bottom: 0;
}

.tab .btn-icon {
  float: right;
  display: flex;
}

.myHero {
  padding: 42px 0 0 0;
  max-width: 1200px;
  margin: 0 auto;
  background: url(./../img/game/myHero/border_top.png) no-repeat center 0;
  background-size: auto;
}

.myHero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myHero__button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-active {
  background: url(./../img/bg/bg_gameBtn.png) no-repeat;
  background-size: cover;
}

.grid {
  width: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid .btn__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.btn__box {
  width: 24px;
  height: 24px;
}

.grid span {
  display: block;
  width: 9px;
  height: 9px;
  border: 2px solid #b3856d;
}

.grid span:nth-child(3),
.grid span:nth-child(4) {
  margin-top: -3px;
}

.grid span:nth-child(2),
.grid span:nth-child(4) {
  margin-left: 1px;
}

.lines {
  width: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lines span {
  display: block;
  width: 24px;
  height: 2px;
  background: #b3856d;
}

.lines span:not(:first-child) {
  margin-top: 6px;
}

.lines span:first-child {
  margin-top: 3px;
}

.myHero .dropdown {
  max-width: 237px;
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;
}

.myHero__dropdown {
  width: 237px;
  height: 56px;
  background: radial-gradient(
    43.47% 7718.51% at 50% 100%,
    #000000 0,
    rgba(0, 0, 0, 0.61) 86.48%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myHero .dropdown::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  content: "";
  background: url(./../img/game/myHero/border.png) no-repeat;
  background-size: 100% 100%;
  width: 275px;
  height: 1px;
  margin: 0 auto;
}

.myHero .dropdown::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  background: url(./../img/game/myHero/border.png) no-repeat;
  background-size: 100% 100%;
  width: 275px;
  height: 1px;
  margin: 0 auto;
  z-index: 99;
}

.myHero .dropdown__button::after,
.myHero .dropdown__button::before {
  display: none;
}

.myHero .dropdown__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #baa694 !important;
  font-family: Alegreya-Bold;
  font-weight: 700;
  font-size: 14px;
}

.dropdown__button img {
  margin-left: 30px;
}

.myHero__data {
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  color: #998774;
  margin-top: 15px;
}
