@media screen and (max-width: 1200px) {
  .header__wrapper {
    width: auto;
  }

  .dao .header-box {
    width: 100%;
  }

  .container {
    max-width: 90vw;
  }

  .ultraBonus__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .header__wrapper {
    width: 720px;
  }

  .btn-icon {
    display: flex;
  }

  .menu {
    position: fixed;
    width: 60vw;
    height: 100vh;
    top: 0;
    right: 0;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    background: #141110;
    transform: translateX(100%);
    z-index: 5;
  }

  .menu-isActive {
    transform: translate(0);
  }

  .close-menu-isActive {
    display: block;
  }

  .bg_activeMA {
    display: block;
  }

  .dao_info-content {
    flex-direction: column;
  }

  .dao-arrow img {
    transform: rotateZ(90deg);
  }

  .ultraBonus__article {
    display: none;
  }

  .ultraBonus__content {
    margin-left: 0px;
  }

  .challengerHeader__challenger:not(:first-child) {
    margin-left: 30px;
  }
  .tabs_nav {
    display: block;
  }

  .inventory__wrapper {
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
  }

  .inventory-box {
    width: 94%;
    margin: 0 auto;
  }
  .inventory-hero {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header-box {
    max-width: 540px;
  }

  .header__wrapper {
    width: 540px;
  }

  .header__article {
    position: fixed;
    width: 60vw;
    bottom: 50px;
    right: 0;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    background: #141110;
    transform: translateX(100%);
    z-index: 6;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s all;
  }

  .header__article-isActive {
    transform: translateX(0);
  }

  .header__article-isActive .dropdown {
    margin-top: 15px;
  }

  .banner {
    position: relative;
    min-height: 80vh;
  }

  .banner__content img {
    width: 200px;
    height: 30px;
  }

  .banner__subtitle {
    color: #fff;
    font-family: MalayalamMN-Bold;
    font-size: 16px;
    line-height: 23px;
    margin-top: 4px;
  }

  .bunner__text {
    font-family: MalayalamMN-Bold;
    color: #fff;
    margin-top: 6px;
    font-size: 10px;
    line-height: 14px;
  }

  .banner__content {
    position: absolute;
    bottom: 19px;
    left: 0;
  }

  .blockTitle__text {
    font-size: 16px;
  }

  .blockTitle__line {
    width: 30%;
  }

  .scene {
    padding: 40px 0 40px;
  }

  .video {
    margin-top: 40px;
  }

  .scene__imeges {
    flex-direction: column;
    width: 100%;
  }

  .scene__img {
    width: 100%;
  }

  .video {
    margin-bottom: 0;
    padding: 47px 23px;
  }

  .scene__text {
    margin: 32px 15px 0;
  }

  .swiper {
    min-height: 365px;
  }

  .swiper-slide {
    min-height: 310px;
  }

  .toPlay-box:nth-child(2n) {
    flex-direction: column;
  }

  .toPlay-box:nth-child(2n + 1) {
    flex-direction: column-reverse;
  }

  .footer__bottom span {
    display: block;
  }

  .BNX__wrapper {
    gap: 0;
  }

  .footer__bottom span:not(:first-child) {
    margin-left: 0px;
  }

  .title {
    padding: 60px 0 60px 0;
  }

  .title__class {
    min-width: auto;
    white-space: nowrap;
    margin: 0 16px !important;
    font-size: 24px;
  }

  .title__line {
    display: none;
  }

  .whitePaper__content {
    padding: 25px 16px;
  }

  .paper-plane__item {
    margin-left: 12px;
  }

  .tab__content {
    margin: 40px 0 79px;
  }

  .tabs__header::before {
    bottom: 70px;
  }

  .whitePaper__content::before {
    width: 210px;
    height: 210px;
    bottom: 7px;
  }

  .recruitHero__title {
    width: 280px;
    height: 40px;
    line-height: 40px;
    max-width: 360px;
  }

  .limit {
    width: 100%;
  }

  .item__title {
    width: 200px;
  }

  .limit__content {
    margin-top: 3px;
  }

  .item {
    background-size: 100% 100%;
  }

  .challengerHeader {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .challengerHeader__subtitle {
    position: static;
    transform: none;
  }
}

@media screen and (max-width: 577px) {
  .container {
    max-width: 92%;
  }

  .header {
    height: 56px;
  }

  .header__wrapper {
    width: 88vw;
  }

  .menu {
    width: 80vw;
  }

  .header__article {
    width: 80vw;
  }

  .header__logo img {
    width: 96px;
    height: 34px;
  }

  .banner {
    margin-top: 56px;
    min-height: 40vh;
    background-size: cover;
  }

  .bunner__text {
    margin-top: 0;
  }

  .banner__subtitle {
    margin-top: 0;
  }

  .banner__content {
    padding: 12.2% 0 0 5%;
  }

  .video__play {
    height: 40px;
    width: 40px;
  }

  .blockTitle__line {
    width: 12%;
  }

  .footer {
    padding-right: 16px;
    padding-left: 16px;
    background-color: #141110;
    background-image: url(./../img/bg/bg_footer_mobile.png);
    background-size: 100% auto;
  }

  .footer__top {
    flex-wrap: wrap;
    justify-content: start;
  }

  .footer__media {
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .footer__bottom {
    word-break: break-all;
  }

  .tabs__header::before {
    bottom: 73px;
  }

  .ultraBonus__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .heroItem {
    flex-direction: column;
  }

  .heroItem__promo {
    justify-content: center;
  }
  .heroItem__info {
    margin-top: 10px;
  }

  .challenger__box {
    padding: 25px 16px;
  }

  .challenger__box-btn {
    flex-direction: column;
  }

  .inventory-hero {
    padding: 0 13px;
    min-height: 500px;
  }

  .inventory-hero__store {
    padding: 9px 18px;
  }
}
