body {
  font-family: IBMPlexSans-Medium, PingFangSC-Regular, Avenir, Helvetica, Arial,
    sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 96px;
  margin: 0 auto;
  z-index: 500;
  background: #080706;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 132px;
  height: 48px;
}

.header-box {
  max-width: 1200px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  margin-right: 80px;
}

.header__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  margin-left: 24px;
  flex-wrap: wrap;
}

.menu__element {
  padding: 0 16px;
  font-size: 20px;
  height: 52px;
  cursor: pointer;
  position: relative;
}

.menu__element a:hover {
  color: #e0b186;
  background: radial-gradient(
    45.06% 64.83% at 50% 50%,
    rgba(135, 98, 25, 0.21) 0,
    rgba(125, 94, 32, 0) 100%
  );
  text-shadow: 0 3px 4px rgb(10 7 2 / 97%);
}

.menu__element:not(:first-child) {
  margin-left: 12px;
}

.menu__element a {
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  line-height: 52px;
  color: hsla(0, 0%, 100%, 0.8);
  text-decoration: none;
}

.is_active {
  background: url(./../img/bg/bg_menuItems.png) no-repeat center 0 !important;
  background-size: auto 100%;
}

.is_active a {
  color: #e0b186;
}

.button {
  background: linear-gradient(90.7deg, #f6465d 0.15%, #f15f40 101.76%);
  border-radius: 8px;
  color: #fff;
  height: 34px;
  width: auto;
  padding: 3px 10px;
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  font-family: Alegreya-Medium;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  font-weight: 900;
  font-family: Alegreya-ExtraBold;
  height: 28px;
  width: 95px;
  font-size: 20px;
  line-height: 28px;
  outline: 0;
  background: #aaaaaa00;
  border: none;
  color: #fff;
  cursor: pointer;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 8px;
  width: 1px;
  height: 7px;
  background-color: #fff;
  transform: rotateZ(45deg);
  pointer-events: none;
}
.dropdown__button::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 13px;
  width: 1px;
  height: 7px;
  background-color: #fff;
  transform: rotateZ(-45deg);
  pointer-events: none;
}

.dropdown__list {
  display: none;
  background: #fff;
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
  position: absolute;
  left: 0;
  border-radius: 4px;
  list-style-type: none;
  top: 38px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  border: none;
  border-bottom: 0px;
  cursor: pointer;
  color: #5f6368;
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  line-height: 44px;
  padding: 0 16px;
  font-size: 15px;
}

.dropdown__list-item:first-child {
  border-radius: 4px 4px 0 0;
}

.dropdown__list-item:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: none;
}

.dropdown__list-item:hover {
  background: #efefef;
}

.dropdown__input-hidden {
  display: none;
}

/**** main ****/

.main {
  overflow: hidden;
  background-color: #000;
}

.banner {
  background: url(./../img/bg/bg_banner.png) no-repeat center 0 !important;
  background-size: auto 100%;
  min-height: 851px;
}

.banner__content {
  padding: 12.2% 0 0 8.4%;
}

.banner__subtitle {
  font-family: MalayalamMN-Bold;
  font-size: 49px;
  line-height: 70px;
  color: #fff;
  margin-top: -2px;
}

.bunner__text {
  font-family: MalayalamMN-Bold;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-top: 6px;
}

.scene {
  padding: 92px 0 132px 0;
}

.blockTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.blockTitle__text {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
  color: #b2856c;
}

.blockTitle__line {
  width: 38%;
  height: 2px;
  background: #715a41;
}

.content_box {
  max-width: 942px;
  margin: 0 auto;
}

.video {
  margin: 52px auto;
  background: url(./../img/scene/index_bg1.png) no-repeat 50%;
  background-size: 100% 100%;
  padding: 74px 50px;
}

.video__img {
  position: relative;
}

.video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__play {
  position: absolute;
  right: -18px;
  bottom: -20px;
  cursor: pointer;
}

.scene__imeges {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scene__img {
  padding: 47px 23px;
  background: url(./../img/scene/index_bg2.png) no-repeat 50%;
  background-size: 100% 100%;
}

.scene__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.scene__text {
  max-width: 922px;
  margin: 82px auto 0;
  line-height: 24px;
  color: #998774;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: Alegreya-Bold;
}

.scene__text div:not(:first-child) {
  margin-top: 11px;
}

.hero {
  padding: 50px 0 50px 0;
}

.swiper {
  width: 600px;
  height: auto;
  background-color: #fff;
  margin-top: 35px;
  overflow: visible;
}

.swiper-slide {
  min-height: 300px;
}

.swiper-slide-active {
  background-color: red;
  transform: scale(1.1);
  z-index: 3;
}
