.banner {
  background: url(./../../img/bg/bg_banner.png) no-repeat center 0;
  background-size: auto 100%;
  min-height: 851px;
  margin-top: 96px;
}

.banner__content {
  padding: 12.2% 0 0 8.4%;
}

.banner__subtitle {
  font-family: MalayalamMN-Bold;
  font-size: 49px;
  line-height: 70px;
  color: #fff;
  margin-top: -2px;
}

.bunner__text {
  font-family: MalayalamMN-Bold;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-top: 6px;
}
