.BNX {
  background: url(./../../img/bg/bgTop.png) repeat-x 0;
  background-position: top;
  padding-bottom: 49px;
}

.BNX .blockTitle__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 39px 0 37px;
}

.BNX .blockTitle__text::before {
  display: block;
  content: "";
  height: 32px;
  width: 32px;
  margin-right: 4px;
  background: url(./../../img/BNX/list_img.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.BNX__button {
  background: url(./../../img/bg/bg_button.png) no-repeat 0;
  background-size: 100% 100%;
  width: 314px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  transition: all 0.3s;
}

.BNX__button:hover {
  transform: translateY(-21px);
}

.BNX__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
  justify-content: center;
  align-items: center;
}
