.ultraBonus__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ultraBonus__article {
  width: 304px;
  max-height: 650px;
  background: url(./../../img/game/extraBM/bg_article.png) no-repeat;
  background-size: 100% 100%;
  padding: 24px 12px 46px 12px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #d68c3f;
  font-weight: 800;
  font-family: Alegreya-ExtraBold;
}

.ultraBonus__content {
  margin-left: 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 4px;
}

.item {
  min-height: 431px;
  background: url(./../../img/game/extraBM/bg_item.png) no-repeat;
  background-size: 100% auto;
  padding: 33px 24px;
  position: relative;
  overflow: visible;
}

.item__title {
  width: 280px;
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #b2856c;
  background: url(./../../img/game/extraBM/bg_title.png) no-repeat 50%;
  background-size: auto 100%;
  font-weight: 700;
  font-family: Alegreya-Bold;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.item__img {
  width: 100%;
}

.item__reward {
  background: url(./../../img/game/extraBM/border.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 32px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 7px;
}

.item__rewardImg {
  padding-right: 10px;
  height: 24px;
}

.item__rewardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.limit {
  margin: 0 auto;
  background: url(./../../img/game/extraBM/bg_item2.png) no-repeat;
  background-size: 100% 100%;
  width: 230px;
  min-height: 130px;
  margin-top: 4px;
  padding: 10px;
}

.limit__header {
  height: 44px;
  line-height: 44px;
  background: rgba(26, 20, 21, 0.12);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #482d2d;
  line-height: 44px;
  font-weight: 700;
  font-family: Alegreya-Bold;
}

.limit__header img {
  width: 18px;
  height: 18px;
  margin-right: 18px;
}

.limit__header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -6px;
  height: 11px;
  background: url(./../../img/game/extraBM/border_limit.png) no-repeat;
  background-size: 100% 100%;
}

.limit__header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 11px;
  background: url(./../../img/game/extraBM/border_limit.png) no-repeat;
  background-size: 100% 100%;
}

.limit__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.limit__content img {
  margin: 0 auto;
  width: 49px;
  height: 49px;
}

.item__boxBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_btn {
  width: 184px;
  height: 46px;
  margin-top: 10px;
  line-height: 46px;
  text-align: center;
  font-weight: 700;
  font-family: Alegreya-Bold;
  background: url(./../../img/game/extraBM/bgBtn.png) no-repeat 50%;
  background-size: 100% 100%;
  color: #b2856c;
  font-size: 16px;
  text-transform: uppercase;
}
