.hero {
  padding: 50px 0 50px 0;
}

.hero .swiper {
  max-width: 942px;
  margin-top: 88px;
  min-height: 643px;
  overflow-y: auto;
}

.hero .swiper-slide {
  min-height: 598px;
  width: 450px;
  background: url(./../../img/bg/index_bg2.png) no-repeat 50%;
  background-size: 100% 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: scale(0.88);
}

.hero .swiper-slide-next,
.hero .swiper-slide-duplicate-next {
  transition: 0.3s all;
  transform: translateX(-50%);
  opacity: 0.5;
}

.hero .swiper-slide-prev,
.hero .swiper-slide-duplicate-prev {
  transition: 0.3s all;
  transform: translateX(50%);
  opacity: 0.5;
}

.hero.swiper-slide img {
  max-width: 85%;
  max-height: 85%;
}

.hero .swiper-slide-active {
  opacity: 1;
  transform: scale(1.1);
  /* width: 450px; */
  z-index: 1;
}

.hero .swiper-button-prev {
  width: 40px;
  height: 40px;
}

.hero .swiper-button-next {
  width: 40px;
  height: 40px;
}

.hero .swiper-button-next::after {
  display: none;
}

.hero .swiper-button-prev::after {
  display: none;
}
