.tab .btn-icon {
  float: right;
  display: flex;
}

.myHero {
  padding: 42px 0 0 0;
  max-width: 1200px;
  margin: 0 auto;
  background: url(./../../img/game/myHero/border_top.png) no-repeat center 0;
  background-size: auto;
}

.myHero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myHero__button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-active {
  background: url(./../../img/bg/bg_gameBtn.png) no-repeat;
  background-size: cover;
}

.grid {
  width: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid .btn__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.btn__box {
  width: 24px;
  height: 24px;
}

.grid span {
  display: block;
  width: 9px;
  height: 9px;
  border: 2px solid #b3856d;
}

.grid span:nth-child(3),
.grid span:nth-child(4) {
  margin-top: -3px;
}

.grid span:nth-child(2),
.grid span:nth-child(4) {
  margin-left: 1px;
}

.lines {
  width: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lines span {
  display: block;
  width: 24px;
  height: 2px;
  background: #b3856d;
}

.lines span:not(:first-child) {
  margin-top: 6px;
}

.lines span:first-child {
  margin-top: 3px;
}

.myHero .dropdown {
  max-width: 237px;
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;
}

.myHero__dropdown {
  width: 237px;
  height: 56px;
  background: radial-gradient(
    43.47% 7718.51% at 50% 100%,
    #000000 0,
    rgba(0, 0, 0, 0.61) 86.48%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myHero .dropdown::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  content: "";
  background: url(./../../img/game/myHero/border.png) no-repeat;
  background-size: 100% 100%;
  width: 275px;
  height: 1px;
  margin: 0 auto;
}

.myHero .dropdown::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  background: url(./../../img/game/myHero/border.png) no-repeat;
  background-size: 100% 100%;
  width: 275px;
  height: 1px;
  margin: 0 auto;
  z-index: 99;
}

.myHero .dropdown__button::after,
.myHero .dropdown__button::before {
  display: none;
}

.myHero .dropdown__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #baa694 !important;
  font-family: Alegreya-Bold;
  font-weight: 700;
  font-size: 14px;
}

.dropdown__button img {
  margin-left: 30px;
}

.myHero__data {
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  color: #998774;
  margin-top: 15px;
}
