.title {
  min-height: 80vh;
  margin-top: 96px;
  padding: 80px 0 80px 0;
}

.title__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title__class {
  min-width: 320px;
  margin: 0 80px;
  font-size: 40px;
  line-height: 57px;
  font-family: MalayalamMN-Bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 5px 4px #111;
}

.title__line {
  width: 0px;
  border: 0.1px solid transparent;
  margin: 0;
}

.right_line {
  border-left: 175px solid #fff;
}

.left_line {
  border-right: 175px solid #fff;
}
